body {
  margin: 0;
}
.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white !important;
  font-family: 'Noto Sans TC', 'Noto Serif TC';
}
.body.index {
  min-height: 100vh;
  background-color: #FFE5F1 !important;
}
.body.index .main > .itemH {
  margin-bottom: 20px;
}
.body.index .main .no {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.body.index .main .no span {
  color: #D65792;
}
.body.index .main img {
  min-width: 150px;
  width: 150px;
  height: unset;
  margin-left: 20px;
  box-shadow: 0px 5px 10px rgba(55, 84, 170, 0.2);
}
.body.scanner .main {
  height: 100vh;
  padding: 0 !important;
  position: relative;
}
.body.scanner .main .img.scan {
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  display: flex;
  justify-content: center;
}
.body.scanner .main .img.scan img {
  width: 80%;
}
.body.scanner .main iframe {
  width: 100%;
  height: 100%;
}
.body.passport .card {
  width: calc(100% - 40px) !important;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(55, 84, 170, 0.2);
}
.body.passport .card.green {
  background-color: #27AE60;
}
.body.passport .card.orange {
  background-color: #F2994A;
}
.body.passport .card.red {
  background-color: #EB5757;
}
.body.passport .card > .itemH {
  margin-bottom: 20px;
}
.body.passport .card .translucent {
  color: rgba(255, 255, 255, 0.5);
}
.body.passport .card .end span {
  text-align: right;
}
.body.passport .card .qrcode {
  padding: 20px 0;
  background-color: white;
}
.body.passport .card .qrcode .img {
  width: 200px;
  height: 200px;
}
.body.passport .card .img.gov {
  width: 150px;
  height: unset;
  opacity: 0.5;
}
.body.passport .backLine {
  margin-top: 30px;
}
.body .primary {
  color: #D65792 !important;
}
.body .secondary {
  color: #FFE5F1 !important;
}
.body .gray {
  color: #828282 !important;
}
.body .disabled {
  color: #BDBDBD !important;
  filter: grayscale(100%);
  pointer-events: none;
}
.body .error {
  color: #EB5757 !important;
}
.body .success {
  color: #27AE60 !important;
}
.body .background {
  background-color: #F2F1F6 !important;
}
.body .fXL {
  font-size: 24px;
}
.body .fL {
  font-size: 18px;
}
.body .fM {
  font-size: 14px;
}
.body .fS {
  font-size: 12px;
}
.body .fXS {
  font-size: 10px;
}
.body .bold {
  font-weight: bold;
}
.body .under {
  text-decoration: underline !important;
}
.body span.white {
  color: white;
}
.body span.center {
  text-align: center;
}
.body span.margin {
  margin: 5px;
}
.body span.width {
  width: 100%;
}
.body .single {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.body .double {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.body span {
  color: #333333;
}
.body ol,
.body ul {
  color: #333333;
}
.body a {
  text-decoration: none !important;
}
.body a:hover {
  cursor: pointer;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}
.body input {
  border: 0;
  padding: 0;
  color: #333333;
  background-color: transparent;
  font-family: 'Noto Sans TC', 'Noto Serif TC';
}
.body input:focus {
  box-shadow: none !important;
  outline: none;
}
.body textarea {
  border: 0;
}
.body textarea:focus {
  box-shadow: none !important;
  outline: none;
}
.body select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 0;
  font-family: 'Noto Sans TC', 'Noto Serif TC';
}
.body select:hover {
  cursor: pointer;
}
.body iframe {
  border: 0;
}
.body *,
.body *:link,
.body *:visited,
.body *:hover,
.body *:active,
.body *:focus,
.body :after,
.body :before {
  box-sizing: unset;
  -webkit-box-sizing: unset;
}
.body .hide {
  display: none !important;
}
.body .header {
  width: calc(100% - 40px);
  height: fit-content;
  padding: 10px 10px 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.body .main {
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
@media (min-width: 1024px), (max-width: 1023px) and (min-width: 768px) {
  .body .header,
  .body .main,
  .body .footer {
    width: calc(100% - 100px);
    margin: 0 40px;
  }
}
.body.fixed .header {
  height: 50px;
  padding: 0 20px;
  border-radius: 0 0 20px 20px;
  z-index: 1;
  position: fixed;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
  box-shadow: 0px 10px 20px rgba(55, 84, 170, 0.1);
}
.body.fixed .main {
  padding: 70px 20px 20px;
}
.body .itemH {
  width: fit-content;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.body .itemV {
  width: fit-content;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.body .itemH.start,
.body .itemV.start {
  align-items: flex-start;
}
.body .itemH.center,
.body .itemV.center {
  align-items: center;
}
.body .itemH.end,
.body .itemV.end {
  align-items: flex-end;
}
.body .itemH.middle,
.body .itemV.middle {
  justify-content: center;
}
.body .itemH.between,
.body .itemV.between {
  justify-content: space-between;
}
.body .itemH.around,
.body .itemV.around {
  justify-content: space-around;
}
.body .itemH.radius,
.body .itemV.radius {
  border-radius: 0;
}
.body .itemH.full,
.body .itemV.full {
  width: 100vw;
}
.body .itemH.width,
.body .itemV.width {
  width: 100%;
}
.body .itemH.height,
.body .itemV.height {
  height: 100%;
}
.body .itemH.padding,
.body .itemV.padding {
  padding: 5px;
}
.body .itemH.padding.width,
.body .itemV.padding.width {
  width: calc(100% - 10px);
}
.body .itemH.margin,
.body .itemV.margin {
  margin: 5px;
}
.body .itemH.margin.width,
.body .itemV.margin.width {
  width: calc(100% - 10px);
}
.body .itemH.padding.margin.width,
.body .itemV.padding.margin.width {
  width: calc(100% - 20px);
}
.body .img {
  width: 100px;
  height: 100px;
  margin: 5px;
}
.body .img.logo {
  width: 30px;
  height: 30px;
}
.body .img img {
  width: 100%;
  height: 100%;
}
.body .icon {
  min-width: 20px;
  min-height: 20px;
  margin: 5px;
  border-radius: 99px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #D65792;
}
.body .icon.iconButton {
  min-width: 30px;
  min-height: 30px;
}
.body .icon.iconButton:hover {
  background-color: #F2F1F6;
}
.body .icon.iconButton.fill {
  color: white;
  background-color: #D65792;
}
.body .icon.iconButton .new {
  top: 2px;
  right: 2px;
}
.body .icon.black {
  color: #333333;
}
.body .icon.white {
  color: white;
}
.body .icon .new {
  width: 10px;
  height: 10px;
  border: 1px solid white;
  border-radius: 99px;
  top: -3px;
  right: -3px;
  position: absolute;
  background-color: #EB5757;
}
.body .icon .material-icons.md-18 {
  font-size: 18px;
}
.body .icon .material-icons.md-24 {
  font-size: 24px;
}
.body .icon .material-icons.md-36 {
  font-size: 36px;
}
.body .icon .material-icons.md-48 {
  font-size: 48px;
}
.body .textButton {
  color: #D65792;
}
.body .textButton:hover {
  color: #828282;
}
.body .button {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D65792;
}
.body .button.delete {
  background-color: #EB5757 !important;
}
.body .button.delete i,
.body .button.delete span {
  color: white !important;
}
.body .button.secondary {
  background-color: #FFE5F1;
}
.body .button.secondary:hover {
  background-color: #E0E0E0;
}
.body .button.secondary i,
.body .button.secondary span {
  color: #D65792;
}
.body .button.white {
  background-color: white;
}
.body .button.white:hover {
  background-color: #E0E0E0;
}
.body .button.white i,
.body .button.white span {
  color: #D65792;
}
.body .button .icon,
.body .button span {
  color: white;
}
.body .spinner {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.body .spinner > div {
  min-width: 80px;
  min-height: 80px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(4px);
}
.body .spinner > div > div {
  min-width: 40px;
  min-height: 40px;
  border: 3px solid #D65792;
  border-top: 3px solid transparent;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
