.popNoScroll > * {
  overflow: hidden;
}
.marginX {
  margin: 0 !important;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
select,
input,
textarea,
button,
span {
  font-family: 'Noto Sans TC', 'Arial', '微軟正黑體', '新細明體', 'sans-serif';
}
.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url(img/bg.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.body .landing {
  height: 100vh;
  padding: 0 !important;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(135deg, rgba(239, 96, 121, 0.5) 0%, #EF6079 100%), #FFFFFF;
}
.body .landing .img {
  width: 300px;
  height: fit-content;
}
.body .landing .separate {
  width: 20px;
  height: 3px;
  margin: 10px 0;
  border-radius: 99px;
  background-color: #F3CBC7;
}
.body .notice {
  overflow-y: hidden;
}
.body .notice.main {
  max-height: calc(100vh - 60px);
  padding: 60px 10px 0 !important;
}
.body .notice.main .filter .lineV {
  height: 20px;
  background-color: #F3CBC7;
}
.body .notice.main .filter .dropdown {
  width: fit-content;
}
.body .notice.main .filter .dropdown select {
  width: fit-content;
  padding: 0 30px 0 10px;
  background-color: transparent;
}
.body .notice.main .records {
  max-height: 100%;
  overflow-y: auto;
}
.body .notice.main .records .dot {
  min-width: 10px;
  min-height: 10px;
  margin-right: 10px;
  border-radius: 99px;
}
.body .notice.main .records .dot.active {
  background-color: #EB5757;
}
.body .notice.main .records .img {
  width: 100px;
  height: fit-content;
}
.body .notice.main .records .img img {
  border-radius: 5px;
}
.body .index .function {
  margin: 10px 0;
}
.body .index .function .fM {
  margin: 5px 0;
}
.body .index .function .fS {
  width: 70px;
  padding: 2px;
  border: 1px solid #F3CBC7;
  border-radius: 99px;
  text-align: center;
}
.body .index .point {
  width: calc(100% - 40px);
  padding: 10px;
  margin: 10px;
  border: 1px solid #EF6079;
  border-radius: 20px;
  backdrop-filter: blur(30px);
  background: radial-gradient(99.68% 422.68% at 0.32% 100.12%, rgba(239, 96, 121, 0.5) 0%, rgba(255, 255, 255, 0.5) 50.65%, rgba(255, 255, 255, 0.8) 100%);
}
.body .index .point .img {
  width: 50px;
  height: fit-content;
}
.body .index .mission {
  width: calc(100% - 42px) !important;
  padding: 20px 10px 45px;
  margin: 15px 10px 10px;
  border: 1px solid #BDBDBD;
  border-radius: 20px !important;
  position: relative;
}
.body .index .mission .fM {
  margin-top: 5px;
}
.body .index .mission .title {
  width: calc(100% - 20px) !important;
  bottom: 10px;
  position: absolute;
  text-align: center;
}
.body .index .mission .title span {
  margin: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}
.body .index .mission .title .icon {
  margin: 0;
}
.body .index .tabs {
  margin: 10px 5px 5px;
}
.body .index .news {
  width: calc(100% - 22px) !important;
  height: 140px;
  margin: 5px 10px !important;
  border: 1px solid white;
  border-radius: 15px;
  backdrop-filter: blur(30px);
  background: linear-gradient(104.62deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%);
}
.body .index .news .title {
  padding-left: 5px;
  border-left: 1px solid #5CB8B2;
  color: #5CB8B2;
}
.body .index .news .img {
  min-width: 120px;
  min-height: 120px;
  margin: 0;
}
.body .index .news img {
  border-radius: 0 10px 10px 0;
}
.body .index .discounts {
  width: 100vw;
  margin: 10px 0 10px -10px;
}
.body .index .discounts > .scroll {
  overflow-x: auto;
}
.body .index .discounts > .scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
  -webkit-appearance: none;
}
.body .index .discounts > .title {
  margin: 0 0 5px 20px;
  padding-left: 5px;
  border-left: 1px solid #333F48;
}
.body .index .discounts .discount {
  margin-right: 10px;
  border: 1px solid white;
  border-radius: 15px;
  backdrop-filter: blur(30px);
  background: linear-gradient(104.62deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%);
}
.body .index .discounts .discount:first-child {
  margin-left: 20px;
}
.body .index .discounts .discount:last-child {
  margin-right: 20px;
}
.body .index .discounts .discount > * > .title {
  color: #5CB8B2;
}
.body .index .discounts .discount .img {
  margin: 0;
}
.body .index .discounts .discount .img img {
  border-radius: 10px 10px 0 0;
}
.body .index .advertise {
  width: calc(100% - 22px) !important;
  height: fit-content;
  padding: 5px 5px 5px 0;
  margin: 5px 10px !important;
  border: 1px solid white;
  border-radius: 15px;
  backdrop-filter: blur(30px);
  background: linear-gradient(104.62deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%);
}
.body .index .advertise .img {
  width: 30% !important;
  height: fit-content !important;
  margin: 0;
}
.body .index .advertise img {
  border-radius: 5px;
}
.body .scan.main {
  width: 100vw;
  height: calc(100vh - 130px);
  padding: 60px 0 70px !important;
}
@media (min-width: 1024px), (max-width: 1023px) and (min-width: 768px) {
  .body .scan.main {
    width: 768px !important;
  }
}
.body .scan.main::-webkit-scrollbar {
  width: 0;
  height: 0;
  -webkit-appearance: none;
}
.body .scan canvas {
  width: 100% !important;
  height: calc(100vh - 130px) !important;
  position: absolute;
}
.body .scan .button {
  margin: 0;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 90px;
  position: absolute;
  z-index: 2;
  box-shadow: 0px 5px 10px rgba(55, 84, 170, 0.2);
}
.body .scan .testImg {
  width: 100% !important;
  height: calc(100vh - 130px) !important;
  margin: 0;
  position: absolute;
  z-index: 1;
}
@media (min-width: 1024px), (max-width: 1023px) and (min-width: 768px) {
  .body .scan .testImg {
    width: 768px !important;
  }
}
.body .scan .testImg img {
  object-fit: cover;
}
.body .scan .swipeup {
  width: calc(100% - 40px);
  min-height: fit-content;
  padding: 10px 20px 100px;
  margin-top: calc(100vh - 180px);
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px -10px 20px rgba(55, 84, 170, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 30px 30px 0px 0px;
  z-index: 2;
}
.body .scan .swipeup .holder {
  width: 30px;
  height: 5px;
  border-radius: 99px;
  background-color: #BDBDBD;
}
.body .scan .swipeup .fL.primary {
  margin: 20px 0;
}
.body .scan .swipeup .img.profile {
  width: 60px;
  height: 60px;
  min-width: 60px;
  margin-right: 10px;
}
.body .scan .swipeup .img.profile img {
  border-radius: 999px;
}
.body .scan .swipeup .light {
  min-width: 50px;
  height: 50px;
  background-color: #5CB8B2;
}
.body .scan .swipeup .qrcode {
  padding: 20px 0;
  margin: 20px 0;
  border-radius: 20px;
  background-color: white;
}
.body .scan .swipeup .qrcode .img {
  width: 200px;
  height: 200px;
}
.body .scan .swipeup .submit {
  background-color: #EF6079;
  margin-right: -5px;
}
.body .scan.popCode .img.profile {
  width: 60px;
  height: 60px;
  min-width: 60px;
  margin-right: 10px;
  background-image: url(img/profile-d.png);
  background-size: cover;
}
.body .scan.popCode .img.profile img {
  border-radius: 999px;
}
.body .scan.popCode .qrcode {
  padding: 20px 0;
  margin: 10px 0;
  border-radius: 20px;
  background-color: white;
}
.body .scan.popCode .qrcode .img {
  width: 200px;
  height: 200px;
}
.body .scan.popCode .submit {
  background-color: #EF6079;
  margin-right: -5px;
}
.body .map.main {
  height: calc(100vh - 130px);
  padding: 60px 10px 70px !important;
  position: relative;
  overflow-y: hidden;
}
.body .map .tabs {
  height: 30px;
  border: 1px solid white;
  background: linear-gradient(104.62deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%);
}
.body .map .tabs .tab {
  padding: 5px 0;
}
.body .map .tabs .tab.active {
  color: #EF6079;
}
.body .map .tabs .tab:not(.active) * {
  color: #BDBDBD;
}
.body .map .tabs .lineV {
  height: 20px;
  background-color: #E0E0E0;
}
.body .map .filter {
  width: 100vw;
  min-height: 40px;
  margin-left: -10px;
  overflow-x: auto;
}
.body .map .filter::-webkit-scrollbar {
  width: 0;
  height: 0;
  -webkit-appearance: none;
}
.body .map .filter > .flexH > .flexH:first-child {
  margin-left: 10px;
}
.body .map .filter > .flexH > .flexH:last-child {
  margin-right: 10px;
}
.body .map .filter .lineV {
  height: 20px;
  background-color: #F3CBC7;
}
.body .map .filter .dropdown {
  width: fit-content;
}
.body .map .filter .dropdown select {
  width: fit-content;
  padding: 0 30px 0 10px;
  background-color: transparent;
}
.body .map .filter a {
  padding: 0 10px;
}
.body .map .filter a.active span {
  color: #EF6079;
  font-weight: bold;
}
.body .map .filter a span {
  color: #BDBDBD;
}
.body .map .testImg {
  width: 100vw !important;
  height: 100% !important;
  margin: 0 0 0 -10px;
}
@media (min-width: 1024px), (max-width: 1023px) and (min-width: 768px) {
  .body .map .testImg {
    width: 768px !important;
  }
}
.body .map .testImg img {
  object-fit: cover;
}
.body .map .bottom {
  width: calc(100% - 10px);
  bottom: 70px;
  position: absolute;
}
.body .map .bottom .location {
  width: 40px;
  height: 40px;
  margin: 20px;
  background-color: #5CB8B2;
  box-shadow: 0px 5px 10px rgba(55, 84, 170, 0.2);
}
.body .map .bottom .info {
  width: calc(100vw - 40px);
  margin-left: -10px;
  padding: 20px;
  border: 1px solid #FFFFFF;
  border-radius: 30px 30px 0px 0px;
  background: linear-gradient(104.62deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%);
  box-shadow: 0px -10px 20px rgba(55, 84, 170, 0.1);
  backdrop-filter: blur(30px);
}
@media (min-width: 1024px), (max-width: 1023px) and (min-width: 768px) {
  .body .map .bottom .info {
    width: 728px !important;
  }
}
.body .map .bottom .info .checklist {
  margin-top: 10px;
}
.body .map .bottom .info .checklist > .flexH {
  margin: 0 10px;
}
.body .map .bottom .info .img.store {
  width: 50px;
  height: 50px;
}
.body .map .bottom .info .img.store img {
  border-radius: 5px;
}
.body .map .bottom .info .img.point {
  width: 20px;
  height: 20px;
  margin-left: 0;
}
.body .profile.main {
  padding: 60px 20px 90px !important;
}
@media (min-width: 1024px), (max-width: 1023px) and (min-width: 768px) {
  .body .profile.main {
    width: 728px !important;
  }
}
.body .profile .card {
  width: 100vw;
  margin-left: -20px;
  overflow-x: auto !important;
}
@media (min-width: 1024px), (max-width: 1023px) and (min-width: 768px) {
  .body .profile .card {
    width: 768px !important;
  }
}
.body .profile .card::-webkit-scrollbar {
  width: 0;
  height: 0;
  -webkit-appearance: none;
}
.body .profile .card > .flexH > .img:first-child {
  margin-left: 20px;
}
.body .profile .card > .flexH > .img:last-child {
  margin-right: 20px;
}
.body .profile .card .img {
  width: calc(100vw - 40px) !important;
  height: fit-content;
  margin: 0 5px;
  border-radius: 10px;
  position: relative;
}
@media (min-width: 1024px), (max-width: 1023px) and (min-width: 768px) {
  .body .profile .card .img {
    width: 728px !important;
  }
}
.body .profile .card .img.city > img,
.body .profile .card .img.visit > img {
  visibility: hidden;
}
.body .profile .card .img.city .type,
.body .profile .card .img.visit .type {
  display: initial;
}
.body .profile .card .img.city .icon,
.body .profile .card .img.visit .icon {
  display: initial;
}
.body .profile .card .img.city .icon,
.body .profile .card .img.visit .icon {
  bottom: 20px;
  right: 27px;
  position: absolute;
}
.body .profile .card .img.city {
  background: linear-gradient(135deg, rgba(239, 96, 121, 0.5) 0%, #EF6079 100%), #FFFFFF;
}
.body .profile .card .img.city .icon.iconVisit {
  display: none;
}
.body .profile .card .img.visit {
  background: #F3CBC7;
}
.body .profile .card .img.visit span {
  color: #333F48;
}
.body .profile .card .img.visit .icon.iconCity {
  display: none;
}
.body .profile .card .img.new .icon {
  display: initial;
}
.body .profile .card .img .type {
  display: none;
}
.body .profile .card .img .icon {
  display: none;
}
.body .profile .card .img img {
  border-radius: 10px;
}
.body .profile .card .img .title {
  top: 30px;
  left: 27px;
  position: absolute;
}
.body .profile .card .img .title span:first-child {
  margin-bottom: 5px;
  letter-spacing: 0.33em;
}
.body .profile .card .img .type {
  bottom: 30px;
  left: 27px;
  position: absolute;
  letter-spacing: 0.33em;
}
.body .profile .card .img .cover {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
}
.body .profile .picture img {
  border-radius: 999px;
  background-image: url(img/profile-d.png);
  background-size: cover;
}
.body .profile .point {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #EF6079;
  border-radius: 20px;
  backdrop-filter: blur(30px);
  background: radial-gradient(99.68% 422.68% at 0.32% 100.12%, rgba(239, 96, 121, 0.5) 0%, rgba(255, 255, 255, 0.5) 50.65%, rgba(255, 255, 255, 0.8) 100%);
}
.body .profile .point .img {
  width: 50px;
  height: fit-content;
}
.body .profile .ticket .img {
  width: 45px;
  height: fit-content;
  margin-right: 10px;
}
.body .profile .ticket .lineV {
  height: 50px;
  background-color: #F3CBC7;
}
.body .profile .function {
  width: calc(100% - 2px);
  margin: 20px 0;
  border: 1px solid white;
  backdrop-filter: blur(30px);
  background: linear-gradient(104.62deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%);
}
.body .profile .function > .flexH {
  padding: 5px 0;
}
.body .profile .function .img {
  width: 24px;
  height: fit-content;
}
.body .profile .function .lineV {
  height: 20px;
  background-color: #BDBDBD;
}
.body .profile .menu .img {
  width: 24px;
  height: fit-content;
  margin-right: 10px;
}
.body .profile .invite {
  width: calc(100% - 2px);
  margin: 20px 0;
  padding: 5px 0;
  border: 1px solid white;
  backdrop-filter: blur(30px);
  background: linear-gradient(104.62deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%);
}
.body .profile .invite .img {
  width: 30px;
  height: fit-content;
}
.body .profile.popInvite .popHeader span {
  text-align: center;
}
.body .profile.popInvite .popMain .img {
  width: 50px;
  height: fit-content;
}
.body .profile.popInvite .popFooter {
  flex-direction: column;
}
.body .profile.popInvite .popFooter .img {
  width: 20px;
  height: fit-content;
}
.body .profile.popInvite .popFooter .code {
  position: relative;
}
.body .profile.popInvite .popFooter .code .flexH {
  left: 2px;
  position: absolute;
}
.body .profile.popInvite .popFooter .code .icon {
  margin-right: 0;
}
.body .profile.popInvite .popFooter .code .icon i {
  color: #828282 !important;
}
.body .profile.popInvite .popFooter .line {
  background-color: #06C755;
}
.body .profile_edit.main {
  max-height: calc(100vh - 60px);
  padding: 60px 10px 0 !important;
}
.body .profile_edit .img {
  margin-bottom: 20px;
  border: 1px solid white;
  border-radius: 999px;
}
.body .profile_edit .input {
  width: calc(100% - 35px);
  padding: 0 15px 0 10px;
}
.body .profile_edit .input input {
  text-align: right;
}
.body .profile_edit .dropdown {
  width: calc(100% - 20px);
  padding-left: 10px;
  background-color: white;
}
.body .profile_edit .dropdown select {
  padding-right: 30px;
}
.body .profile_edit .dropdown .arrow {
  right: 10px;
}
.body .profile_edit .date {
  margin-right: 0 !important;
}
.body .profile_edit .button {
  width: calc(50% - 30px);
  margin: 20px 5px;
}
.body .profile_edit .birth {
  margin-bottom: 20px;
}
.body .setting.main {
  max-height: calc(100vh - 60px);
  padding: 60px 10px 0 !important;
}
.body .setting .info {
  margin-bottom: 20px !important;
  border-radius: 20px;
  background-color: white;
}
.body .point_send.main,
.body .point_success.main {
  min-height: calc(100vh - 100px);
  margin: 60px 20px 20px;
  padding: 10px !important;
  border-radius: 20px;
  background-color: white;
}
.body .point_send.main .record .img,
.body .point_success.main .record .img {
  width: 20px;
  height: fit-content;
}
.body .point_send.main .record .lineV,
.body .point_success.main .record .lineV {
  height: 30px;
}
.body .point_send.main .info,
.body .point_success.main .info {
  margin: 40px 0;
}
.body .point_send.main .info .total .img,
.body .point_success.main .info .total .img {
  width: 30px;
  height: fit-content;
}
.body .point_send.main .info .hint,
.body .point_success.main .info .hint {
  width: calc(100% - 20px);
  margin: 0 10px;
}
.body .point_send.main .info .hint .img,
.body .point_success.main .info .hint .img {
  width: 20px;
  height: fit-content;
}
.body .point_send.main .number a,
.body .point_success.main .number a {
  height: 60px;
}
.body .point_send.main .button,
.body .point_success.main .button {
  margin-top: 40px;
}
.body .point_success .title {
  margin-top: auto;
}
.body .point_success .info {
  margin: auto;
}
.body .point_success .record {
  margin-top: auto;
}
.body .point_success .background {
  background-color: transparent !important;
}
.body .point_history.footer .img {
  width: 20px;
  height: fit-content;
}
.body .point_history.main {
  max-height: calc(100vh - 130px);
  padding: 60px 10px 70px !important;
}
.body .point_history.main .tabs {
  height: fit-content;
  border: 1px solid white;
  background: linear-gradient(104.62deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%);
}
.body .point_history.main .tabs .tab {
  padding: 5px 0;
}
.body .point_history.main .tabs .tab.active {
  color: #EF6079;
}
.body .point_history.main .tabs .tab:not(.active) * {
  color: #BDBDBD;
}
.body .point_history.main .tabs .tab:not(.active) .img {
  filter: grayscale(100%);
  opacity: 0.5;
}
.body .point_history.main .tabs .img {
  width: 20px;
  height: fit-content;
}
.body .point_history.main .tabs .lineV {
  height: 40px;
  background-color: #BDBDBD;
}
.body .point_history.main .filter .lineV {
  height: 20px;
  background-color: #F3CBC7;
}
.body .point_history.main .filter .dropdown {
  width: fit-content;
}
.body .point_history.main .filter .dropdown select {
  width: fit-content;
  padding: 0 30px 0 10px;
  background-color: transparent;
}
.body .point_history.main .records {
  max-height: 100%;
  overflow-y: auto;
}
.body .point_history.main .records .img {
  width: 20px;
  height: fit-content;
}
.body .point_history.popTime .tabs {
  height: 34px;
}
.body .point_history.popTime .tabs .tab:hover:not(.active) {
  background-color: #F2F1F6;
}
.body .store_register.main {
  max-height: calc(100vh - 60px);
  padding: 60px 10px 0 !important;
}
.body .store_register .steps .step {
  padding: 0 5px 5px;
  margin: 0;
  border-bottom: 2px solid transparent;
}
.body .store_register .steps .step.active {
  border-bottom: 2px solid #EF6079;
}
.body .store_register .steps .step.active > span {
  color: #EF6079;
}
.body .store_register .steps .step:not(.active) * {
  color: #828282;
}
.body .store_register .steps .icon {
  padding: 0px 10px 5px;
  margin: 0 5px;
}
.body .store_register .info {
  overflow-y: auto;
}
.body .store_register .info .input {
  width: calc(100% - 40px);
  padding: 0 15px;
}
.body .store_register .info .input input {
  text-align: right;
}
.body .store_register .info .dropdown {
  width: calc(100% - 25px);
  padding-left: 15px;
  background-color: white;
}
.body .store_register .info .dropdown select {
  padding-right: 30px;
}
.body .store_register .info .dropdown .arrow {
  right: 10px;
}
.body .store_register .info .title {
  margin: 20px 0 0 5px;
}
.body .store_register .info .map {
  width: calc(100% - 10px);
  min-height: 300px;
  margin: 5px;
  border-radius: 20px;
  position: relative;
  background-color: white;
}
.body .store_register .info .map .input {
  top: 60px;
  position: absolute;
  z-index: 9;
}
.body .store_register .info ol {
  margin: 0;
  padding: 0 0 0 30px;
}
.body .store_register .info .button {
  width: calc(50% - 30px);
  margin: 20px 5px 50%;
}
.body .activity.main {
  max-height: calc(100vh - 70px);
  padding: 60px 10px 10px !important;
}
.body .activity .mission {
  width: calc(100% - 42px) !important;
  padding: 20px 10px;
  margin: 15px 10px 10px;
  border: 1px solid #BDBDBD;
  border-radius: 20px !important;
  position: relative;
}
.body .activity .mission .fM {
  margin-top: 5px;
}
.body .activity .news {
  width: calc(100% - 22px) !important;
  height: fit-content;
  margin: 5px 10px !important;
  border: 1px solid white;
  border-radius: 15px;
  backdrop-filter: blur(30px);
  background: linear-gradient(104.62deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%);
}
.body .activity .news .info {
  height: 80px !important;
}
.body .activity .news .info > * {
  margin-bottom: 2px;
}
.body .activity .news .info .title {
  padding-left: 5px;
  border-left: 1px solid #5CB8B2;
  color: #5CB8B2;
}
.body .activity .news .reward {
  min-width: 80px;
  height: 80px;
  position: relative;
}
.body .activity .news .reward .img {
  width: 50px;
  height: fit-content;
}
.body .activity .news .reward img {
  border-radius: 0 10px 10px 0;
}
.body .activity .news .reward .done {
  width: 80px;
  height: 80px;
  position: absolute;
  background: linear-gradient(104.62deg, rgba(239, 96, 121, 0.8) 0%, rgba(239, 96, 121, 0.5) 100%);
  border: 1px solid #EF6079;
  backdrop-filter: blur(2px);
}
.body .activity .news .reward .over {
  width: 80px;
  height: 80px;
  position: absolute;
  background: linear-gradient(104.62deg, rgba(51, 63, 72, 0.8) 0%, rgba(51, 63, 72, 0.5) 100%);
  border: 1px solid #333F48;
  backdrop-filter: blur(2px);
}
.body .activity .news .reward .over span {
  transform: rotate(-20deg);
}
.body .activity .news .progress {
  margin-top: 0;
  padding-top: 0;
}
.body .activity .news .progress .bar {
  height: 5px;
  margin-left: 10px;
  background-color: #E0E0E0;
}
.body .activity .news .progress .bar div {
  width: 60%;
  height: 100%;
  border-radius: 99px;
  background-color: #EF6079;
}
.body .activity_question.header {
  padding: 10px;
}
.body .activity_question.main {
  min-height: calc(100vh - 100px);
  margin: 60px 20px 20px;
  padding: 10px !important;
  border-radius: 20px;
  background-color: white;
}
.body .activity_question.main > * {
  margin-bottom: 20px;
}
.body .activity_question.main > :last-child {
  margin: auto 0 0 0;
}
.body .activity_question.main .img {
  width: 80px;
  height: fit-content;
}
.body .activity_question.main .button {
  width: calc(50% - 30px);
}
.body .activity_question.popCorrect .close {
  color: white;
  border-radius: 99px;
}
.body .activity_question.popCorrect .close:hover {
  color: #E0E0E0;
}
.body .activity_question.popCorrect .popBody {
  height: 450px;
  padding: 0;
}
.body .activity_question.popCorrect .popHeader {
  height: 200px;
  margin: 0 !important;
  padding-bottom: 30px;
  border-radius: 20px 20px 0 0;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 10px 20px rgba(55, 84, 170, 0.1));
  background: url(img/bg2.png);
  background-position: bottom;
  background-attachment: initial;
  background-size: cover;
}
.body .activity_question.popCorrect .popMain {
  height: 100%;
  margin: 0 !important;
  justify-content: center !important;
}
.body .activity_question.popCorrect .popMain .img {
  width: 30px;
  height: fit-content;
}
.body .activity_question.popCorrect .popFooter {
  margin: 30px 10px 10px;
}
.body .activity_question.popCorrect .popFooter .img {
  width: 20px;
  height: 20px;
  margin-left: 0;
}
.body .primary {
  color: #EF6079 !important;
}
.body .secondary {
  color: #F3CBC7 !important;
}
.body .third {
  color: #5CB8B2 !important;
}
.body .gray {
  color: #828282 !important;
}
.body .minor {
  color: #BDBDBD !important;
}
.body .disabled {
  color: #BDBDBD !important;
  filter: grayscale(100%);
  opacity: 0.5;
  pointer-events: none;
}
.body .disabled * {
  color: #BDBDBD !important;
}
.body .disabled img {
  filter: grayscale(100%);
  opacity: 0.5;
}
.body .error {
  color: #EB5757 !important;
}
.body .success {
  color: #27AE60 !important;
}
.body .background {
  background-color: #F2F1F6 !important;
}
.body .fXXL {
  font-size: 38px;
}
.body .fXL {
  font-size: 26px;
}
.body .fL {
  font-size: 22px;
}
.body .fM {
  font-size: 18px;
}
.body .fS {
  font-size: 16px;
}
.body .fXS {
  font-size: 14px;
}
.body .bold {
  font-weight: bold;
}
.body .under {
  text-decoration: underline !important;
}
.body .nowrap {
  white-space: nowrap;
}
.body .single {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.body .double {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.body .textButton {
  color: #EF6079;
  border-radius: 5px;
}
.body .textButton:hover {
  color: #828282;
}
.body span.white,
.body .textButton.white {
  color: white;
}
.body span.center,
.body .textButton.center {
  text-align: center;
}
.body span.margin,
.body .textButton.margin {
  margin: 5px;
}
.body span.width,
.body .textButton.width {
  width: 100%;
}
.body ol {
  padding: 0 0 20px 30px;
}
.body ol.chin {
  list-style-type: none;
}
.body ol.chin > li {
  margin-left: -20px;
}
.body ol.romanU {
  list-style-type: upper-roman;
}
.body ol ol {
  padding: 0 0 10px 20px;
}
.body ol ul {
  padding: 0 0 10px 20px;
  list-style-type: disc;
}
.body ol li {
  margin: 5px 0;
}
.body ol li.none {
  list-style-type: none;
}
.body span {
  color: #333F48;
}
.body ol,
.body ul {
  color: #333F48;
}
.body a {
  text-decoration: none !important;
}
.body a:hover {
  cursor: pointer;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}
.body input {
  border: 0;
  padding: 0;
  color: #333F48;
  background-color: transparent;
}
.body input:focus {
  box-shadow: none !important;
  outline: none;
}
.body textarea {
  border: 0;
}
.body textarea:focus {
  box-shadow: none !important;
  outline: none;
}
.body select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 0;
}
.body select:hover {
  cursor: pointer;
}
.body iframe {
  border: 0;
}
.body *,
.body :after,
.body :before {
  box-sizing: unset;
  -webkit-box-sizing: unset;
}
.body .header {
  width: calc(100% - 20px);
  height: fit-content;
  padding: 10px 10px 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.body .header .img {
  width: fit-content;
  height: 30px;
}
.body .main {
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}
.body .footer {
  width: calc(100% - 20px);
  height: fit-content;
  padding: 0 10px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.body .footer .iconButton {
  width: 100%;
}
.body .footer .iconButton:hover {
  box-shadow: none;
}
.body .footer .iconButton.active > img {
  filter: drop-shadow(0px 0px 5px #EF6079) drop-shadow(0px 0px 5px #EF6079) drop-shadow(0px 0px 5px #EF6079);
}
.body .footer .iconButton.active > img:first-child {
  display: none;
}
.body .footer .iconButton:not(.active) > img:nth-child(2) {
  display: none;
}
@media (min-width: 1024px), (max-width: 1023px) and (min-width: 768px) {
  .body .header,
  .body .main,
  .body .footer {
    width: calc(100% - 100px);
    margin: 0 40px;
  }
}
.body.fixed .header {
  height: 60px;
  padding: 0 10px;
  z-index: 8;
  position: fixed;
  background: url(img/bg.png);
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
}
.body.fixed .main {
  padding: 60px 10px 90px;
}
.body.fixed .footer {
  height: 70px;
  padding: 0 10px;
  bottom: 0;
  z-index: 8;
  position: fixed;
  background: url(img/bg.png);
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: 0px -10px 20px rgba(55, 84, 170, 0.1);
}
@media (min-width: 1024px), (max-width: 1023px) and (min-width: 768px) {
  .body.mobile .header,
  .body.mobile .main,
  .body.mobile .footer {
    width: 748px;
    margin-left: calc(50% - 374px);
    margin-right: calc(50% - 374px);
  }
}
.body .flexH {
  width: fit-content;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.body .flexV {
  width: fit-content;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.body .flexH.start,
.body .flexV.start {
  align-items: flex-start;
}
.body .flexH.center,
.body .flexV.center {
  align-items: center;
}
.body .flexH.end,
.body .flexV.end {
  align-items: flex-end;
}
.body .flexH.middle,
.body .flexV.middle {
  justify-content: center;
}
.body .flexH.between,
.body .flexV.between {
  justify-content: space-between;
}
.body .flexH.around,
.body .flexV.around {
  justify-content: space-around;
}
.body .flexH.right,
.body .flexV.right {
  justify-content: flex-end;
}
.body .flexH.radius,
.body .flexV.radius {
  border-radius: 0;
}
.body .flexH.full,
.body .flexV.full {
  width: 100vw;
}
.body .flexH.width,
.body .flexV.width {
  width: 100%;
}
.body .flexH.height,
.body .flexV.height {
  height: 100%;
}
.body .flexH.padding,
.body .flexV.padding {
  padding: 5px;
}
.body .flexH.padding.width,
.body .flexV.padding.width {
  width: calc(100% - 10px);
}
.body .flexH.padding.height,
.body .flexV.padding.height {
  height: calc(100% - 10px);
}
.body .flexH.margin,
.body .flexV.margin {
  margin: 5px;
}
.body .flexH.margin.width,
.body .flexV.margin.width {
  width: calc(100% - 10px);
}
.body .flexH.margin.height,
.body .flexV.margin.height {
  height: calc(100% - 10px);
}
.body .flexH.padding.margin.width,
.body .flexV.padding.margin.width {
  width: calc(100% - 20px);
}
.body .flexH.padding.margin.height,
.body .flexV.padding.margin.height {
  height: calc(100% - 20px);
}
.body .grid {
  width: calc(100% - 10px);
  margin: 5px;
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer";
}
.body .grid > div {
  padding: 5px;
  border-radius: 10px;
  background-color: #F2F1F6;
}
.body .grid .grid1 {
  grid-area: header;
}
.body .grid .grid2 {
  grid-area: main;
}
.body .grid .grid3 {
  grid-area: sidebar;
}
.body .grid .grid4 {
  grid-area: footer;
}
.body table {
  margin: 5px;
  border-collapse: unset;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 10px;
}
.body table.fit {
  width: fit-content;
}
.body table.empty {
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
}
.body table.empty tr {
  background-color: transparent !important;
}
.body table.empty td {
  padding: 0 10px 0 0;
}
.body table tr:not(:first-child) {
  background-color: #F2F1F6;
}
.body table th {
  text-align: center;
}
.body table td {
  padding: 5px 2.5px;
}
.body table td:first-child {
  border-radius: 10px 0 0 10px;
}
.body table td:last-child {
  border-radius: 0 10px 10px 0;
}
.body table td span {
  line-height: 30px;
  white-space: unset !important;
}
.body table .action {
  width: fit-content;
  display: flex;
  align-items: center;
}
.body table .action a {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #BDBDBD;
}
.body table .edit .action > a {
  color: #EF6079;
}
.body table .edit .off {
  color: #E0E0E0;
}
.body .hide {
  display: none !important;
}
.body .spaceS {
  width: 100%;
  height: 10px;
}
.body .spaceL {
  width: 100%;
  height: 50px;
}
.body .lineH {
  width: 100%;
  min-height: 1px;
  margin: 5px 0;
  background-color: #E0E0E0;
}
.body .lineV {
  min-width: 1px;
  height: 100%;
  margin: 0 5px;
  background-color: #E0E0E0;
}
.body .rounded {
  border-radius: 999px !important;
}
.body .img {
  width: 100px;
  height: 100px;
  margin: 5px;
}
.body .img img {
  width: 100%;
  height: 100%;
  display: flex;
}
.body .icon {
  min-width: 20px;
  min-height: 20px;
  margin: 5px;
  border-radius: 99px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #EF6079;
}
.body .icon.iconButton {
  min-width: 30px;
  min-height: 30px;
}
.body .icon.iconButton.fill {
  color: white;
  background-color: #EF6079;
}
.body .icon.iconButton .new {
  top: 0;
  left: -3px;
}
.body .icon.black {
  color: #333333;
}
.body .icon.white {
  color: white;
}
.body .icon.fit {
  min-width: fit-content;
  min-height: fit-content;
  margin: 0;
}
.body .icon .new {
  width: 15px;
  height: 15px;
  border-radius: 99px;
  top: -3px;
  right: -3px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EB5757;
}
.body .icon .material-icons.md-18 {
  font-size: 18px;
}
.body .icon .material-icons.md-24 {
  font-size: 24px;
}
.body .icon .material-icons.md-36 {
  font-size: 36px;
}
.body .icon .material-icons.md-48 {
  font-size: 48px;
}
.body .button {
  width: calc(100% - 30px);
  height: 40px;
  padding: 0 10px;
  margin: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EF6079;
}
.body .button.fit {
  width: fit-content;
  height: fit-content;
  padding: 10px 20px;
}
.body .button.delete {
  background-color: #EB5757 !important;
}
.body .button.delete i,
.body .button.delete span {
  color: white !important;
}
.body .button.secondary {
  background-color: #F3CBC7;
}
.body .button.secondary:hover {
  background-color: #E0E0E0;
}
.body .button.secondary i,
.body .button.secondary span {
  color: #EF6079;
}
.body .button.white {
  background-color: white;
}
.body .button.white:hover {
  background-color: #E0E0E0;
}
.body .button.white i,
.body .button.white span {
  color: #4F4F4F;
}
.body .button.gray {
  background-color: #F2F1F6;
}
.body .button.gray:hover {
  background-color: #E0E0E0;
}
.body .button.gray i,
.body .button.gray span {
  color: #4F4F4F;
}
.body .button .icon,
.body .button span {
  color: white;
}
.body .input {
  width: calc(100% - 30px);
  height: 40px;
  min-height: 40px;
  padding: 0 10px;
  margin: 5px;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
}
@media (min-width: 1024px) {
  .body .input {
    width: 400px;
  }
}
.body .input.center input {
  text-align: center;
}
.body .input.fake {
  background-color: transparent;
  pointer-events: none;
}
.body .input.error {
  margin-bottom: 20px;
  border: 1.5px solid #EB5757;
}
.body .input.error .message {
  display: flex;
}
.body .input .inputbox {
  width: 100%;
  height: 100%;
}
.body .input input {
  width: 100%;
  height: 100%;
}
.body .input input.date,
.body .input input.time {
  width: fit-content;
  margin: auto;
}
.body .input input.file {
  width: fit-content;
  height: fit-content;
  margin: auto;
}
.body .input .message {
  top: 43px;
  left: 5px;
  position: absolute;
  display: none;
}
.body .input .button {
  width: fit-content;
  height: calc(100% - 10px);
  margin: 0;
}
.body .input .button span {
  white-space: nowrap;
}
.body textarea {
  width: calc(100% - 30px);
  min-height: 50px;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  background-color: #F2F1F6;
  color: #333333;
}
.body .dropdown {
  width: calc(100% - 10px);
  margin: 5px;
  position: relative;
  display: flex;
  align-items: center;
}
.body .dropdown select {
  width: 100%;
  height: 30px;
  padding: 5px 10px;
  margin: 0;
  border-radius: 10px;
  color: #333333;
  background-color: white;
}
.body .dropdown .arrow {
  width: 20px;
  height: 100%;
  top: 0;
  right: 5px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #EF6079;
  pointer-events: none;
}
.body .tabs {
  width: calc(100% - 16px);
  height: 24px;
  padding: 3px;
  margin: 5px;
  border-radius: 13px;
  display: flex;
  align-items: center;
  background-color: #F2F1F6;
}
.body .tabs.line {
  background-color: transparent;
}
.body .tabs.line .tab.active {
  background-color: transparent;
}
.body .tabs.line .tab.active span {
  color: #EF6079;
}
.body .tabs.line .tab:not(.active):hover {
  background-color: transparent;
}
.body .tabs .tab {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body .tabs .tab.active {
  background-color: #EF6079;
  box-shadow: unset;
}
.body .tabs .tab.active span {
  color: white;
}
.body .tabs .tab:not(.active):hover {
  background-color: #BDBDBD;
}
.body .tabs .tab:not(.active) span {
  color: #828282;
}
.body .switch {
  position: relative;
  display: inline-block;
  min-width: 34px;
  max-width: 34px;
  height: 20px;
  margin: 5px;
}
.body .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.body .switch input:checked + .slider {
  background-color: #27AE60;
}
.body .switch input:focus + .slider {
  box-shadow: 0 0 1px #27AE60;
}
.body .switch input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}
.body .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #BDBDBD;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.body .switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.body .check {
  width: fit-content;
  min-height: 20px;
  padding: 10px 15px 10px 35px;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 12px;
  /* On mouse-over, add a grey background color */
}
.body .check:hover {
  background: #F2F1F6;
}
.body .check:hover input ~ .checkmark {
  background-color: white;
}
.body .check .text {
  margin-left: 2px;
}
.body .check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  /* Hide the browser's default radio button */
  /* When the radio button is checked, add a blue background */
  /* Show the indicator (dot/circle) when checked */
}
.body .check input:checked ~ .checkmark {
  background-color: #EF6079;
}
.body .check input:checked ~ .checkmark:after {
  display: block;
}
.body .check .checkmark.radio {
  position: absolute;
  top: auto;
  bottom: auto;
  left: 12px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid #EF6079;
  background-color: white;
  /* Create the indicator (the dot/circle - hidden when not checked) */
  /* Style the indicator (dot/circle) */
}
.body .check .checkmark.radio:after {
  content: "";
  position: absolute;
  display: none;
}
.body .check .checkmark.radio:after {
  top: 4px;
  left: 4px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: white;
}
.body .check .checkmark.checkbox {
  position: absolute;
  top: auto;
  bottom: auto;
  left: 7px;
  height: 12px;
  width: 12px;
  border-radius: 2px;
  border: solid 2px #EF6079;
  background-color: white;
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Style the checkmark/indicator */
}
.body .check .checkmark.checkbox:after {
  content: "";
  position: absolute;
  display: none;
}
.body .check .checkmark.checkbox:after {
  left: 3px;
  top: 0.5px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.body .banners {
  width: calc(100% + 20px);
  margin: 0 0 10px -10px;
  position: relative;
  /* Position the "next button" to the right */
  /* On hover, add a grey background color */
}
.body .banners .banner {
  height: 100%;
  display: none;
}
.body .banners .banner img {
  width: 100%;
  height: 100%;
  border-radius: 0 0 20px 20px;
  object-fit: cover;
}
.body .banners .banner .text {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.body .banners .banner .text span {
  color: white;
}
.body .banners .prev,
.body .banners .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -29px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.body .banners .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.body .banners .prev:hover,
.body .banners .next:hover {
  background-color: #F2F1F6;
  color: #333333;
}
.body .banners .dots {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
}
.body .banners .dots .dot {
  height: 8px;
  width: 8px;
  border: 1px solid white;
  margin: 0 5px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.body .banners .dots .active {
  background-color: #EF6079;
}
.body .rotateF {
  animation-name: rotateF;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.body .rotateB {
  animation-name: rotateB;
  animation-duration: 0.5s;
  animation-direction: reverse;
}
@keyframes rotateF {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes rotateB {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.body #toast {
  width: calc(100% - 20px);
  bottom: 90px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
  visibility: hidden;
  pointer-events: none;
}
.body #toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
.body #toast div {
  width: fit-content;
  padding: 10px 20px;
  border-radius: 99px;
  text-align: center;
  background-color: #333333;
}
.body #toast div span {
  color: white;
}
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 90px;
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 90px;
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  from {
    bottom: 90px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    bottom: 90px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
.body .spinner {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.body .spinner > div {
  min-width: 80px;
  min-height: 80px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(4px);
}
.body .spinner > div > div {
  min-width: 40px;
  min-height: 40px;
  border: 3px solid #EF6079;
  border-top: 3px solid transparent;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.body .popup {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(4px);
}
.body .popup .close {
  top: 20px;
  right: 20px;
  height: 20px;
  width: 20px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #BDBDBD;
  z-index: 1;
}
.body .popup .close:hover,
.body .popup .close:focus {
  color: #333333;
}
.body .popup .popBody {
  min-width: 300px;
  max-width: 100%;
  height: fit-content;
  max-height: calc(100% - 60px);
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #F2F1F6;
}
.body .popup .popBody .popHeader {
  margin: 5px;
  display: flex;
  flex-direction: column;
}
.body .popup .popBody .popMain {
  margin: 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
}
.body .popup .popBody .popMain::-webkit-scrollbar {
  -webkit-appearance: none;
}
.body .popup .popBody .popMain::-webkit-scrollbar:vertical {
  width: 10px;
}
.body .popup .popBody .popMain::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #E0E0E0;
  border: 2.5px solid #F2F1F6;
}
.body .popup .popBody .popFooter {
  display: flex;
}
.body .popup .popBody .tabs {
  background-color: white;
}
.body .popPoint .close {
  color: white;
  border-radius: 99px;
}
.body .popPoint .close:hover {
  color: #E0E0E0;
}
.body .popPoint .popBody {
  height: 450px;
  padding: 0;
}
.body .popPoint .popHeader {
  height: 200px;
  margin: 0 !important;
  padding-bottom: 30px;
  border-radius: 20px 20px 0 0;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 10px 20px rgba(55, 84, 170, 0.1));
  background: url(img/bg2.png);
  background-position: bottom;
  background-attachment: initial;
  background-size: cover;
}
.body .popPoint .popMain {
  height: 100%;
  margin: 0 !important;
  justify-content: center !important;
}
.body .popPoint .popMain .img {
  width: 30px;
  height: fit-content;
}
.body .popPoint .popFooter {
  margin: 30px 10px 10px;
}
.body .popPoint .popFooter .img {
  width: 20px;
  height: 20px;
  margin-left: 0;
}
.body .popNoQA .close {
  color: white;
  border-radius: 99px;
}
.body .popNoQA .close:hover {
  color: #E0E0E0;
}
.body .popNoQA .popBody {
  height: 450px;
  padding: 0;
}
.body .popNoQA .popHeader {
  height: 200px;
  margin: 0 !important;
  padding-bottom: 30px;
  border-radius: 20px 20px 0 0;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 10px 20px rgba(55, 84, 170, 0.1));
  background: url(img/bg2.png);
  background-position: bottom;
  background-attachment: initial;
  background-size: cover;
}
.body .popNoQA .popMain {
  height: 100%;
  margin: 0 !important;
  justify-content: center !important;
}
.body .popNoQA .popMain span {
  margin: 5px 0;
}
.body .popNoQA .popFooter {
  margin: 30px 10px 20px;
}
.body .popNoQA .popFooter .lineV {
  height: 30px;
}
.body .popNoQA .popFooter .img {
  width: 20px;
  height: 20px;
}
