// Screen Size
@sD:    (min-width: 1024px);                            // Desktop
@sT:    (max-width: 1023px) and (min-width: 768px);     // Tablet
@sM:    (max-width: 767px);                             // Mobile
@sMs:   (max-width: 374px);                             // Mobile (Small)
@sLand: (max-height: 767px) and (min-width: 568px);     // Mobile (Landscape)

// CSS Color
@c1:    #EF6079;
@c2:    #F3CBC7;
@c3:    #5CB8B2;
@c4:    #333F48;
@cG1:   #333333;
@cG2:   #4F4F4F;
@cG3:   #828282;
@cG4:   #BDBDBD;
@cG5:   #E0E0E0;
@cG6:   #F2F2F2;
@cBg:   #F2F1F6;
@cRed:  #EB5757;
@cGreen:#27AE60;

.popNoScroll > * { overflow: hidden; }
// body    { margin: 0 !important; }
.marginX { margin: 0 !important; }
body, h1, h2, h3, h4, h5, h6, p, select, input, textarea, button, span { font-family: 'Noto Sans TC', 'Arial', '微軟正黑體', '新細明體', 'sans-serif'; }
.body   { min-height: 100vh; display: flex; flex-direction: column; background: url(img/bg.png); background-position: center; background-attachment: fixed; background-size: cover;

    // Unique
    .landing { height: 100vh; padding: 0 !important; align-items: center; justify-content: space-around; background: linear-gradient(135deg, rgba(239, 96, 121, 0.5) 0%, #EF6079 100%), #FFFFFF;
        .img { width: 300px; height: fit-content; }
        .separate { width: 20px; height: 3px; margin: 10px 0; border-radius: 99px; background-color: @c2; }
    }
    .notice { overflow-y: hidden;
        &.main { max-height: calc(100vh - 60px); padding: 60px 10px 0 !important;
            .filter {
                .lineV { height: 20px; background-color: @c2; }
                .dropdown { width: fit-content;
                    select { width: fit-content; padding: 0 30px 0 10px; background-color: transparent; }}}
            .records { max-height: 100%; overflow-y: auto;
                .dot { min-width: 10px; min-height: 10px; margin-right: 10px; border-radius: 99px;
                    &.active { background-color: @cRed; }}
                .img { width: 100px; height: fit-content;
                    img { border-radius: 5px; }}}}
    }
    .index {
        .function { margin: 10px 0;
            .fM { margin: 5px 0; }
            .fS { width: 70px; padding: 2px; border: 1px solid @c2; border-radius: 99px; text-align: center; }}
        .point { width: calc(100% - 40px); padding: 10px; margin: 10px; border: 1px solid #EF6079; border-radius: 20px; backdrop-filter: blur(30px); background: radial-gradient(99.68% 422.68% at 0.32% 100.12%, rgba(239, 96, 121, 0.5) 0%, rgba(255, 255, 255, 0.5) 50.65%, rgba(255, 255, 255, 0.8) 100%);
            .img { width: 50px; height: fit-content; }}
        .mission { width: calc(100% - 42px) !important; padding: 20px 10px 45px; margin: 15px 10px 10px; border: 1px solid @cG4; border-radius: 20px !important; position: relative;
            .fM { margin-top: 5px; }
            .title { width: calc(100% - 20px) !important; bottom: 10px; position: absolute; text-align: center;
                span { margin: 0; background: rgba(255, 255, 255, 0.1); backdrop-filter: blur(10px); }
                .icon { margin: 0; }}}
        .tabs { margin: 10px 5px 5px; }
        .news { width: calc(100% - 22px) !important; height: 120px; margin: 5px 10px !important; border: 1px solid white; border-radius: 15px; backdrop-filter: blur(30px); background: linear-gradient(104.62deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%);
            .title { padding-left: 5px; border-left: 1px solid @c3; color: @c3; }
            .img { min-width: 120px; min-height: 120px; margin: 0; }
                img { border-radius: 0 10px 10px 0; }}
        .discounts { width: 100vw; margin: 10px 0 10px -10px;
            > .scroll { overflow-x: auto;
                &::-webkit-scrollbar { width: 0; height: 0; -webkit-appearance: none; }}
            > .title { margin: 0 0 5px 20px; padding-left: 5px; border-left: 1px solid @c4; }
            .discount { margin-right: 10px; border: 1px solid white; border-radius: 10px; backdrop-filter: blur(30px); background: linear-gradient(104.62deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%);
                &:first-child { margin-left: 20px; }
                &:last-child { margin-right: 20px; }
                > * > .title { color: @c3; }
                .img { margin: 0;
                    img { border-radius: 10px 10px 0 0; }}}}
        .advertise { width: calc(100% - 22px) !important; height: fit-content; padding: 5px 5px 5px 0; margin: 5px 10px !important; border: 1px solid white; border-radius: 10px; backdrop-filter: blur(30px); background: linear-gradient(104.62deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%);
            .img { width: 30% !important; height: fit-content !important; margin: 0; }
                img { border-radius: 5px; }}
        &.popActivity {
            .close { color: white; border-radius: 99px;
                &:hover { color: @cG5; }}
            .popBody { height: 450px; padding: 0; }
            .popHeader { height: 200px; margin: 0 !important; padding-bottom: 30px; border-radius: 20px 20px 0 0; align-items: center; justify-content: center; filter: drop-shadow(0px 10px 20px rgba(55, 84, 170, 0.1)); background: url(img/bg2.png); background-position: bottom; background-attachment: initial; background-size: cover; }
            .popMain { height: 100%; margin: 0 !important; justify-content: center !important;
                span { margin: 5px 0; }}
            .popFooter { margin: 30px 10px 20px;
                .lineV { height: 30px; }
                .img { width: 20px; height: 20px; }}}}
    .scan {
        &.main { width: 100vw; height: calc(100vh - 130px); padding: 60px 0 70px !important;
            @media @sD, @sT { width: 768px !important; }
            &::-webkit-scrollbar { width: 0; height: 0; -webkit-appearance: none; }}
        canvas { width: 100% !important; height: calc(100vh - 130px) !important; position: absolute; }
        .button { margin: 0; left: 50%; transform: translate(-50%, 0); bottom: 90px; position: absolute; z-index: 2; box-shadow: 0px 5px 10px rgba(55, 84, 170, 0.2); }
        .testImg { width: 100% !important; height: calc(100vh - 130px) !important; margin: 0; position: absolute; z-index: 1;
            @media @sD, @sT { width: 768px !important; }
            img { object-fit: cover; }}
        .swipeup { width: calc(100% - 40px); min-height: fit-content; padding: 10px 20px 100px; margin-top: calc(100vh - 180px); background: rgba(255, 255, 255, 0.9); box-shadow: 0px -10px 20px rgba(55, 84, 170, 0.1); backdrop-filter: blur(20px); border-radius: 30px 30px 0px 0px; z-index: 2;
            .holder { width: 30px; height: 5px; border-radius: 99px; background-color: @cG4; }
            .fL.primary { margin: 20px 0; }
            .img.profile { width: 60px; height: 60px; min-width: 60px; margin-right: 10px;
                img { border-radius: 999px; }}
            .light { min-width: 50px; height: 50px; background-color: @c3; }
            .qrcode { padding: 20px 0; margin: 20px 0; border-radius: 20px; background-color: white; 
                .img { width: 200px; height: 200px; }}
            .submit { background-color: @c1; margin-right: -5px; }}
        &.popCode {
            .img.profile { width: 60px; height: 60px; min-width: 60px; margin-right: 10px;
                img { border-radius: 999px; }}
            .qrcode { padding: 20px 0; margin: 10px 0; border-radius: 20px; background-color: white; 
                .img { width: 200px; height: 200px; }}
            .submit { background-color: @c1; margin-right: -5px; }}}
    .map {
        &.main { height: calc(100vh - 130px); padding: 60px 10px 70px !important; position: relative; overflow-y: hidden; }
        .tabs { height: 30px; border: 1px solid white; background: linear-gradient(104.62deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%);
            .tab { padding: 5px 0;
                &.active { color: @c1; }
                &:not(.active) * { color: @cG4; }}
            .lineV { height: 20px; background-color: @cG5; }}
        .filter { width: 100vw; min-height: 40px; margin-left: -10px; overflow-x: auto;
            &::-webkit-scrollbar { width: 0; height: 0; -webkit-appearance: none; }
            > .flexH > .flexH:first-child { margin-left: 10px; }
            > .flexH > .flexH:last-child { margin-right: 10px; }
            .lineV { height: 20px; background-color: @c2; }
            .dropdown { width: fit-content;
                select { width: fit-content; padding: 0 30px 0 10px; background-color: transparent; }}
            a { padding: 0 10px;
                &.active span { color: @c1; font-weight: bold; }
                span { color: @cG4; }}}
        .testImg { width: 100vw !important; height: 100% !important; margin: 0 0 0 -10px;
            @media @sD, @sT { width: 768px !important; }
            img { object-fit: cover; }}
        .location { width: 40px; height: 40px; bottom: 222px; right: 20px; position: absolute; background-color: @c3; box-shadow: 0px 5px 10px rgba(55, 84, 170, 0.2); }
        .info { width: calc(100vw - 40px); margin-left: -10px; padding: 20px; border: 1px solid #FFFFFF; border-radius: 30px 30px 0px 0px; bottom: 70px; position: absolute; background: linear-gradient(104.62deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%); box-shadow: 0px -10px 20px rgba(55, 84, 170, 0.1); backdrop-filter: blur(30px);
            @media @sD, @sT { width: 728px !important; }
            .checklist { margin-top: 10px;
                > .flexH { margin: 0 10px; }}
            .img.store { width: 50px; height: 50px;
                img { border-radius: 5px; }}
            .img.point { width: 20px; height: 20px; margin-left: 0; }}}
    .profile {
        &.main { padding: 60px 20px 90px !important;
            @media @sD, @sT { width: 728px !important; }}
        .card { width: 100vw; margin-left: -20px; overflow-x: auto !important;
            @media @sD, @sT { width: 768px !important; }
            &::-webkit-scrollbar { width: 0; height: 0; -webkit-appearance: none; }
            > .flexH > .img:first-child { margin-left: 20px; }
            > .flexH > .img:last-child { margin-right: 20px; }
            .img { width: calc(100vw - 40px) !important; height: fit-content; margin: 0 5px; border-radius: 10px; position: relative;
                @media @sD, @sT { width: 728px !important; }
                &.city, &.visit {
                    > img { visibility: hidden; }
                    .type { display: initial; }
                    .icon { display: initial; }
                    .icon { bottom: 20px; right: 27px; position: absolute; }
                }
                &.city { background: linear-gradient(135deg, rgba(239, 96, 121, 0.5) 0%, #EF6079 100%), #FFFFFF;
                    .icon.iconVisit { display: none; }}
                &.visit { background: @c2;
                    span { color: @c4; }
                    .icon.iconCity { display: none; }}
                &.new .icon { display: initial; } 
                .type { display: none; }
                .icon { display: none; }
                img { border-radius: 10px; }
                .title { top: 30px; left: 27px; position: absolute;
                    span:first-child { margin-bottom: 5px; letter-spacing: 0.33em; }}
                .type { bottom: 30px; left: 27px; position: absolute; letter-spacing: 0.33em; }
                .cover { border-radius: 10px; background: rgba(0, 0, 0, 0.5); position: absolute; }}}
        .picture img { border-radius: 999px; }
        .point { width: calc(100% - 20px); padding: 10px; margin: 20px 0; border: 1px solid #EF6079; border-radius: 20px; backdrop-filter: blur(30px); background: radial-gradient(99.68% 422.68% at 0.32% 100.12%, rgba(239, 96, 121, 0.5) 0%, rgba(255, 255, 255, 0.5) 50.65%, rgba(255, 255, 255, 0.8) 100%);
            .img { width: 50px; height: fit-content; }}
        .ticket {
            .img { width: 45px; height: fit-content; margin-right: 10px; }
            .lineV { height: 50px; background-color: @c2; }}
        .function { width: calc(100% - 2px); margin: 20px 0; border: 1px solid white; backdrop-filter: blur(30px); background: linear-gradient(104.62deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%);
            > .flexH { padding: 5px 0; }
            .img { width: 24px; height: fit-content; }
            .lineV { height: 20px; background-color: @cG4; }}
        .menu {
            .img { width: 24px; height: fit-content; margin-right: 10px; }}
        .invite { width: calc(100% - 2px); margin: 20px 0; padding: 5px 0; border: 1px solid white; backdrop-filter: blur(30px); background: linear-gradient(104.62deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%);
            .img { width: 30px; height: fit-content; }}
        &.popInvite {
            .popHeader span { text-align: center; }
            .popMain .img { width: 50px; height: fit-content; }
            .popFooter { flex-direction: column;
                .img { width: 20px; height: fit-content; }
                .code { position: relative;
                    .flexH { left: 2px; position: absolute; }
                    .icon { margin-right: 0;
                        i { color: @cG3 !important; }}}
                .line { background-color: #06C755; }}}}
    .profile_edit {
        &.main { max-height: calc(100vh - 60px); padding: 60px 10px 0 !important; }
        .img { margin-bottom: 20px; border: 1px solid white; border-radius: 999px; }
        .input { width: calc(100% - 35px); padding: 0 15px 0 10px;
            input { text-align: right; }}
        .dropdown { width: calc(100% - 20px); padding-left: 10px; background-color: white; 
            select { padding-right: 30px; }
            .arrow { right: 10px; }}
        .date { margin-right: 0 !important; }
        .button { width: calc(50% - 30px); margin: 20px 5px; }
        .birth { margin-bottom: 20px; }}
    .setting {
        &.main { max-height: calc(100vh - 60px); padding: 60px 10px 0 !important; }
        .info { margin-bottom: 20px !important; border-radius: 20px; background-color: white; }}
    .point_send, .point_success {
        &.main { min-height: calc(100vh - 100px); margin: 60px 20px 20px; padding: 10px !important; border-radius: 20px; background-color: white;
            .record {
                .img { width: 20px; height: fit-content; }
                .lineV { height: 30px; }}
            .info { margin: 40px 0;
                .total .img { width: 30px; height: fit-content; }
                .hint { width: calc(100% - 20px); margin: 0 10px;
                    .img { width: 20px; height: fit-content; }}}
            .number a { height: 60px; }
            .button { margin-top: 40px; }}}
    .point_success {
        .title { margin-top: auto; }
        .info { margin: auto; }
        .record { margin-top: auto; }
        .background { background-color: transparent !important; }}
    .point_history {
        &.footer .img { width: 20px; height: fit-content; }
        &.main { max-height: calc(100vh - 130px); padding: 60px 10px 70px !important;
            .tabs { height: fit-content; border: 1px solid white; background: linear-gradient(104.62deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%);
                .tab { padding: 5px 0;
                    &.active { color: @c1; }
                    &:not(.active) {
                        * { color: @cG4; }
                        .img { filter: grayscale(100%); opacity: 0.5; }}}
                .img { width: 20px; height: fit-content; }
                .lineV { height: 40px; background-color: @cG4; }}
            .filter {
                .lineV { height: 20px; background-color: @c2; }
                .dropdown { width: fit-content;
                    select { width: fit-content; padding: 0 30px 0 10px; background-color: transparent; }}}
            .records { max-height: 100%; overflow-y: auto;
                .img { width: 20px; height: fit-content;}}}
        &.popTime {
            .tabs { height: 34px;
                .tab:hover:not(.active) { background-color: @cBg; }}}}
    .store_register {
        &.main { max-height: calc(100vh - 60px); padding: 60px 10px 0 !important; }
        .steps {
            .step { padding: 0 5px 5px; margin: 0; border-bottom: 2px solid transparent;
                &.active { border-bottom: 2px solid @c1;
                    > span { color: @c1; }}
                &:not(.active) * { color: @cG3; }}
            .icon { padding: 0px 10px 5px; margin: 0 5px; }}
        .info { overflow-y: auto;
            .input { width: calc(100% - 40px); padding: 0 15px;
                input { text-align: right; }}
            .dropdown { width: calc(100% - 25px); padding-left: 15px; background-color: white; 
                select { padding-right: 30px; }
                .arrow { right: 10px; }}
            .title { margin: 20px 0 0 5px; }
            .map { width: calc(100% - 10px); min-height: 300px; margin: 5px; border-radius: 20px; position: relative; background-color: white;
                .input { top: 60px; position: absolute; z-index: 9; }}
            ol { margin: 0; padding: 0 0 0 30px; }
            .button { width: calc(50% - 30px); margin: 20px 5px; }}}
    .activity {
        &.main { max-height: calc(100vh - 70px); padding: 60px 10px 10px !important; }
        .mission { width: calc(100% - 42px) !important; padding: 20px 10px; margin: 15px 10px 10px; border: 1px solid @cG4; border-radius: 20px !important; position: relative;
            .fM { margin-top: 5px; }}
        .news { width: calc(100% - 22px) !important; height: fit-content; margin: 5px 10px !important; border: 1px solid white; border-radius: 15px; backdrop-filter: blur(30px); background: linear-gradient(104.62deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%);
            .info { height: 80px !important;
                > * { margin-bottom: 2px; }
                .title { padding-left: 5px; border-left: 1px solid @c3; color: @c3; }}
            .reward { min-width: 80px; height: 80px; position: relative;
                .img { width: 50px; height: fit-content; }
                    img { border-radius: 0 10px 10px 0; }
                .done { width: 80px; height: 80px; position: absolute; background: linear-gradient(104.62deg, rgba(239, 96, 121, 0.8) 0%, rgba(239, 96, 121, 0.5) 100%); border: 1px solid #EF6079; backdrop-filter: blur(2px); }
                .over { width: 80px; height: 80px; position: absolute; background: linear-gradient(104.62deg, rgba(51, 63, 72, 0.8) 0%, rgba(51, 63, 72, 0.5) 100%); border: 1px solid #333F48; backdrop-filter: blur(2px);
                    span { transform: rotate(-20deg); }}}
            .progress { margin-top: 0; padding-top: 0;
                .bar { height: 5px; margin-left: 10px; background-color: @cG5;
                    div { width: 60%; height: 100%; border-radius: 99px; background-color: @c1; }}}}}
    .activity_question {
        &.header { padding: 10px; }
        &.main { min-height: calc(100vh - 100px); margin: 60px 20px 20px; padding: 10px !important; border-radius: 20px; background-color: white;
            > * { margin-bottom: 20px; }
            > :last-child { margin: auto 0 0 0; }
            .img { width: 80px; height: fit-content; }
            .button { width: calc(50% - 30px); }}
        &.popCorrect {
            .close { color: white; border-radius: 99px;
                &:hover { color: @cG5; }}
            .popBody { height: 450px; padding: 0; }
            .popHeader { height: 200px; margin: 0 !important; padding-bottom: 30px; border-radius: 20px 20px 0 0; align-items: center; justify-content: center; filter: drop-shadow(0px 10px 20px rgba(55, 84, 170, 0.1)); background: url(img/bg2.png); background-position: bottom; background-attachment: initial; background-size: cover; }
            .popMain { height: 100%; margin: 0 !important; justify-content: center !important;
                .img { width: 30px; height: fit-content; }}
            .popFooter { margin: 30px 10px 10px;
                .img { width: 20px; height: 20px; margin-left: 0; }}}}

    // Color
    .primary    { color: @c1 !important; }
    .secondary  { color: @c2 !important; }
    .third      { color: @c3 !important; }
    .gray       { color: @cG3 !important; }
    .minor      { color: @cG4 !important; }
    .disabled   { color: @cG4 !important; filter: grayscale(100%); opacity: 0.5; pointer-events: none;
        *       { color: @cG4 !important; }
        img     { filter: grayscale(100%); opacity: 0.5; }}
    .error      { color: @cRed !important; }
    .success    { color: @cGreen !important; }
    .background { background-color: @cBg !important; }

    // Font
    .fXXL       { font-size: 36px; }
    .fXL        { font-size: 24px; }
    .fL         { font-size: 18px; }
    .fM         { font-size: 16px; }
    .fS         { font-size: 14px; }
    .fXS        { font-size: 12px; }
    .bold       { font-weight: bold; }
    .under      { text-decoration: underline !important; }
    .nowrap     { white-space: nowrap; }
    .single     { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
    .double     { display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; }
    .textButton { color: @c1; border-radius: 5px;
        &:hover { color: @cG3; }}
    span, .textButton {
        &.white  { color: white; }
        &.center { text-align: center; }
        &.margin { margin: 5px; }
        &.width  { width: 100%; }}
    ol { padding: 0 0 20px 30px;
        &.chin { list-style-type: none;
            > li { margin-left: -20px; }}
        &.romanU { list-style-type: upper-roman; }
        ol { padding: 0 0 10px 20px; } 
        ul { padding: 0 0 10px 20px; list-style-type: disc; }
        li { margin: 5px 0;
            &.none { list-style-type: none; }}}
    
    // Reset
    span                { color: @c4; }
    ol, ul              { color: @c4; }
    a                   { text-decoration: none !important; }
    a:hover             { cursor: pointer; box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2); }
    input               { border: 0; padding: 0; color: @c4; background-color: transparent; }
    input:focus         { box-shadow: none !important; outline: none; }
    textarea            { border: 0; }
    textarea:focus      { box-shadow: none !important; outline: none; }
    select              { -webkit-appearance: none; -moz-appearance: none; appearance: none; outline: none; border: 0; }
    select:hover        { cursor: pointer; }
    iframe              { border: 0; }
    *, :after, :before  { box-sizing: unset; -webkit-box-sizing: unset; }

    // Container
    .header { width: calc(100% - 20px); height: fit-content; padding: 10px 10px 0 10px; display: flex; align-items: center; justify-content: space-between;
        .img { width: fit-content; height: 30px; }}
    .main   { padding: 10px; display: flex; flex-direction: column; overflow-y: auto; overflow-x: hidden; }
    .footer { width: calc(100% - 20px); height: fit-content; padding: 0 10px 10px 10px; display: flex; align-items: center; justify-content: space-around;
        .iconButton { width: 100%;
            &:hover { box-shadow: none; }
            &.active > img { filter: drop-shadow(0px 0px 5px #EF6079) drop-shadow(0px 0px 5px #EF6079) drop-shadow(0px 0px 5px #EF6079); }
            &.active > img:first-child { display: none; }
            &:not(.active) > img:nth-child(2) { display: none; }}}
    @media @sD, @sT { .header, .main, .footer { width: calc(100% - 100px); margin: 0 40px; }}
    &.fixed {
        .header { height: 60px; padding: 0 10px; z-index: 8; position: fixed; background: url(img/bg.png); background-position: top; background-attachment: fixed; background-size: cover; }
        .main   { padding: 60px 10px 90px; }
        .footer { height: 70px; padding: 0 10px; bottom: 0; z-index: 8; position: fixed; background: url(img/bg.png); background-position: bottom; background-attachment: fixed; background-size: cover; box-shadow: 0px -10px 20px rgba(55, 84, 170, 0.1); }}
    &.mobile { @media @sD, @sT { .header, .main, .footer { width: 748px; margin-left: calc(50% - 374px); margin-right: calc(50% - 374px); }}}
    .flexH  { width: fit-content; border-radius: 10px; display: flex; align-items: center; }
    .flexV  { width: fit-content; border-radius: 10px; display: flex; flex-direction: column; }
    .flexH, .flexV {
        &.start             { align-items: flex-start; }
        &.center            { align-items: center; }
        &.end               { align-items: flex-end; }
        &.middle            { justify-content: center; }
        &.between           { justify-content: space-between; }
        &.around            { justify-content: space-around; }
        &.right             { justify-content: flex-end; }
        &.radius            { border-radius: 0; }
        &.full              { width: 100vw; }
        &.width             { width: 100%; }
        &.height            { height: 100%; }
        &.padding           { padding: 5px;
            &.width         { width: calc(100% - 10px); }
            &.height        { height: calc(100% - 10px); }}
        &.margin            { margin: 5px;
            &.width         { width: calc(100% - 10px); }
            &.height        { height: calc(100% - 10px); }}
        &.padding.margin    {
            &.width         { width: calc(100% - 20px); }
            &.height        { height: calc(100% - 20px); }}}
    .grid { width: calc(100% - 10px); margin: 5px; display: grid; column-gap: 10px; row-gap: 10px; grid-template-columns: auto auto auto auto; grid-template-rows: auto; grid-template-areas: 
        "header header header header"
        "main main . sidebar"
        "footer footer footer footer";
        > div { padding: 5px; border-radius: 10px; background-color: @cBg; }
        .grid1 { grid-area: header; }
        .grid2 { grid-area: main; }
        .grid3 { grid-area: sidebar; }
        .grid4 { grid-area: footer; }}
    table { margin: 5px; border-collapse: unset; -webkit-border-horizontal-spacing: 0; -webkit-border-vertical-spacing: 10px;
        &.fit { width: fit-content; }
        &.empty { -webkit-border-horizontal-spacing: 0; -webkit-border-vertical-spacing: 0;
            tr { background-color: transparent !important; }
            td { padding: 0 10px 0 0; }}
        tr:not(:first-child) { background-color: @cBg; }
        th { text-align: center; }
        td { padding: 5px 2.5px;
            &:first-child { border-radius: 10px 0 0 10px; }
            &:last-child { border-radius: 0 10px 10px 0; }
            span { line-height: 30px; white-space: unset !important; }}
        .action { width: fit-content; display: flex; align-items: center;
            a { width: 20px; height: 20px; margin: 0 5px; display: flex; align-items: center; justify-content: center; color: @cG4; }}
        .edit {
            .action > a { color: @c1; }
            .off { color: @cG5; }}}

    // Component
    .hide { display: none !important; }
    .spaceS { width: 100%; height: 10px; }
    .spaceL { width: 100%; height: 50px; }
    .lineH { width: 100%; min-height: 1px; margin: 5px 0; background-color: @cG5; }
    .lineV { min-width: 1px; height: 100%; margin: 0 5px; background-color: @cG5; }
    .rounded { border-radius: 999px !important; }
    .img { width: 100px; height: 100px; margin: 5px;
        img { width: 100%; height: 100%; display: flex; }}
    .icon { min-width: 20px; min-height: 20px; margin: 5px; border-radius: 99px; position: relative; display: flex; align-items: center; justify-content: center; color: @c1;
        &.iconButton { min-width: 30px; min-height: 30px;
            // &:hover { background-color: @cBg; }
            &.fill { color: white; background-color: @c1; }
            .new { top: 0; left: -3px; }}
        &.black { color: @cG1; }
        &.white { color: white; }
        &.fit { min-width: fit-content; min-height: fit-content; margin: 0; }
        .new { width: 15px; height: 15px; border-radius: 99px; top: -3px; right: -3px; position: absolute; display: flex; align-items: center; justify-content: center; background-color: @cRed; }
        .material-icons.md-18 { font-size: 18px; }
        .material-icons.md-24 { font-size: 24px; }
        .material-icons.md-36 { font-size: 36px; }
        .material-icons.md-48 { font-size: 48px; }}
    .button { width: calc(100% - 30px); height: 40px; padding: 0 10px; margin: 5px; border-radius: 10px; display: flex; align-items: center; justify-content: center; background-color: @c1; 
        &.fit { width: fit-content; height: fit-content; padding: 10px 20px; }
        &.delete { background-color: @cRed !important;
            i, span { color: white !important; }}
        &.secondary { background-color: @c2;
            &:hover { background-color: @cG5; }
            i, span { color: @c1; }}
        &.white { background-color: white;
            &:hover { background-color: @cG5; }
            i, span { color: @cG2; }}
        &.gray { background-color: @cBg;
            &:hover { background-color: @cG5; }
            i, span { color: @cG2; }}
        .icon, span { color: white; }}
    .input { width: calc(100% - 30px); height: 40px; min-height: 40px; padding: 0 10px; margin: 5px; border-radius: 10px; position: relative; display: flex; align-items: center; background-color: white;
        @media @sD { width: 400px; }
        &.center input { text-align: center; }
        &.fake { background-color: transparent; pointer-events: none; }
        &.error { margin-bottom: 20px; border: 1.5px solid @cRed;
            .message { display: flex; }}
        .inputbox { width: 100%; height: 100%; }
        input { width: 100%; height: 100%;
            &.date, &.time { width: fit-content; margin: auto; }
            &.file { width: fit-content; height: fit-content; margin: auto; }}
        .message { top: 43px; left: 5px; position: absolute; display: none; }
        .button { width: fit-content; height: calc(100% - 10px); margin: 0;
            span { white-space: nowrap; }}}
    textarea { width: calc(100% - 30px); min-height: 50px; padding: 10px; margin: 5px; border-radius: 10px; background-color: @cBg; color: @cG1; }
    .dropdown { width: calc(100% - 10px); margin: 5px; position: relative; display: flex; align-items: center;
        select { width: 100%; height: 30px; padding: 5px 10px; margin: 0; border-radius: 10px; color: @cG1; background-color: white; }
        .arrow { width: 20px; height: 100%; top: 0; right: 5px; position: absolute; display: flex; align-items: center; justify-content: center; color: @c1; pointer-events: none; }}
    .tabs { width: calc(100% - 16px); height: 24px; padding: 3px; margin: 5px; border-radius: 13px; display: flex; align-items: center; background-color: @cBg;
        &.line { background-color: transparent;
            .tab {
                &.active { background-color: transparent;
                    span { color: @c1; }}
                &:not(.active) {
                    &:hover { background-color: transparent; }}}}
        .tab { width: 100%; height: 100%; border-radius: 10px; display: flex; align-items: center; justify-content: center;
            &.active { background-color: @c1; box-shadow: unset;
                span { color: white;  }}
            &:not(.active) {
                &:hover { background-color: @cG4; }
                span { color: @cG3; }}}}
    .switch { position: relative; display: inline-block; min-width: 34px; max-width: 34px; height: 20px; margin: 5px;
        input { opacity: 0; width: 0; height: 0;
            &:checked + .slider { background-color: @cGreen; }
            &:focus + .slider { box-shadow: 0 0 1px @cGreen; }
            &:checked + .slider:before { -webkit-transform: translateX(14px); -ms-transform: translateX(14px); transform: translateX(14px); }}
        .slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; border-radius: 34px; background-color: @cG4; -webkit-transition: .4s; transition: .4s;
            &:before { position: absolute; content: ""; height: 16px; width: 16px; left: 2px; bottom: 2px; border-radius: 50%; background-color: white; -webkit-transition: .4s; transition: .4s; }}}
    .check { width: fit-content; min-height: 20px; padding: 10px 15px 10px 35px; border-radius: 10px; position: relative; display: flex; align-items: center; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; font-size: 12px;
        &:hover { background: @cBg; } 
        &:hover input ~ .checkmark { background-color: white; } /* On mouse-over, add a grey background color */
        .text { margin-left: 2px; }
        input { position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0; /* Hide the browser's default radio button */
            &:checked ~ .checkmark { background-color: @c1; } /* When the radio button is checked, add a blue background */
            &:checked ~ .checkmark:after { display: block; } /* Show the indicator (dot/circle) when checked */}
        .checkmark.radio { position: absolute; top: auto; bottom: auto; left: 12px; height: 12px; width: 12px; border-radius: 50%; border: 2px solid @c1; background-color: white; 
            &:after { content: ""; position: absolute; display: none; } /* Create the indicator (the dot/circle - hidden when not checked) */
            &:after { top: 4px; left: 4px; width: 4px; height: 4px; border-radius: 50%; background: white; } /* Style the indicator (dot/circle) */}
        .checkmark.checkbox { position: absolute; top: auto; bottom: auto; left: 7px; height: 12px; width: 12px; border-radius: 2px; border: solid 2px @c1; background-color: white;
            &:after { content: ""; position: absolute; display: none; } /* Create the checkmark/indicator (hidden when not checked) */
            &:after { left: 3px; top: 0.5px; width: 3px; height: 6px; border: solid white; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); } /* Style the checkmark/indicator */}}
    .banners { width: calc(100% + 20px); margin: 0 0 10px -10px; position: relative;
        .banner { height: 100%; display: none;
            img { width: 100%; height: 100%; border-radius: 0 0 20px 20px; object-fit: cover; }
            .text { top: 0; left: 0; width: 100%; height: 100%; border-radius: 10px; position: absolute; display: flex; align-items: center; justify-content: center; background-color:rgba(0,0,0,0.5);
                span { color: white; }}}
        .prev, .next { cursor: pointer; position: absolute; top: 50%; width: auto; padding: 16px; margin-top: -29px; color: white; font-weight: bold; font-size: 18px; transition: 0.6s ease; border-radius: 0 3px 3px 0; user-select: none; }
        .next { right: 0; border-radius: 3px 0 0 3px; } /* Position the "next button" to the right */
        .prev:hover, .next:hover { background-color: @cBg; color: @cG1; } /* On hover, add a grey background color */
        .dots { width: 100%; display: flex; justify-content: center; position: absolute; bottom: 10px;
            .dot { height: 8px; width: 8px; border: 1px solid white; margin: 0 5px; background-color: white; border-radius: 50%; display: inline-block; transition: background-color 0.6s ease; }
            .active { background-color: @c1; }}}

    // Animation
    .rotateF { animation-name: rotateF; animation-duration: 0.5s; animation-fill-mode: forwards; }
    .rotateB { animation-name: rotateB; animation-duration: 0.5s; animation-direction: reverse; }
    @keyframes rotateF { 0% { transform: rotate(0deg); } 100% { transform: rotate(180deg); }}
    @keyframes rotateB { 0% { transform: rotate(0deg); } 100% { transform: rotate(180deg); }}

    #toast { width: calc(100% - 20px); bottom: 90px; margin: 0 10px; display: flex; justify-content: center; position: fixed; z-index: 1; visibility: hidden; pointer-events: none;
        &.show { visibility: visible; -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s; animation: fadein 0.5s, fadeout 0.5s 2.5s; }
        div {
            width: fit-content; padding: 10px 20px; border-radius: 99px; text-align: center; background-color: @cG1;
            span { color: white; }}}
    @-webkit-keyframes  fadein  { from { bottom: 0; opacity: 0; }       to { bottom: 90px; opacity: 1; } }
    @keyframes          fadein  { from { bottom: 0; opacity: 0; }       to { bottom: 90px; opacity: 1; } }
    @-webkit-keyframes  fadeout { from { bottom: 90px; opacity: 1; }    to { bottom: 0; opacity: 0; } }
    @keyframes          fadeout { from { bottom: 90px; opacity: 1; }    to { bottom: 0; opacity: 0; } }

    .spinner { top: 0; left: 0; width: 100vw; height: 100vh; position: fixed; display: flex; align-items: center; justify-content: center; z-index: 2;
        > div { min-width: 80px; min-height: 80px; border-radius: 20px; display: flex; align-items: center; justify-content: center; background: rgba(0,0,0,0.75); backdrop-filter: blur(4px); 
            > div { min-width: 40px; min-height: 40px; border: 3px solid @c1; border-top: 3px solid transparent; border-radius: 50%; -webkit-animation: spin 1s linear infinite; animation: spin 1s linear infinite; }}}
    @keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
    @-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); } }

    // Popup
    .popup { width: 100%; height: 100%; left: 0; top: 0; position: fixed; display: none; align-items: center; justify-content: center; overflow-x: hidden; overflow-y: hidden; z-index: 9; background-color: rgba(0,0,0,0.75); backdrop-filter: blur(4px);
        .close { top: 20px; right: 20px; height: 20px; width: 20px; position: absolute; display: flex; align-items: center; justify-content: center; color: @cG4; z-index: 1;
            &:hover, &:focus { color: @cG1; }}
        .popBody { min-width: 300px; max-width: 100%; height: fit-content; max-height: calc(100% - 60px); padding: 10px; margin: 20px; border-radius: 20px; position: relative; display: flex; flex-direction: column; background-color: @cBg;
            .popHeader { margin: 5px; display: flex; flex-direction: column; }
            .popMain { margin: 15px 0px; display: flex; flex-direction: column; align-items: center; justify-content: flex-start; overflow-y: auto;
                &::-webkit-scrollbar { -webkit-appearance: none; }
                &::-webkit-scrollbar:vertical { width: 10px; }
                &::-webkit-scrollbar-thumb { border-radius: 5px; background-color: @cG5; border: 2.5px solid @cBg; }}
            .popFooter { display: flex; }
            .tabs { background-color: white; }}}
}