*::-webkit-scrollbar {
  width: 0;
  height: 0;
  -webkit-appearance: none;
}
body {
  margin: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
select,
input,
textarea,
button {
  font-family: 'cwTeXYen', 'Noto Sans TC', 'Arial', '微軟正黑體', '新細明體', 'sans-serif';
}
.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url(img/bg.jpeg);
  background-position: center;
  background-attachment: fixed;
}
.body .img {
  margin: 0 !important;
}
.body .img.topLeft {
  width: 400px;
  height: unset;
  top: 50px;
  left: 50px;
  position: absolute;
}
.body .img.topLeft:hover {
  box-shadow: none;
}
.body .img.topRight {
  width: 200px;
  height: unset;
  top: 0;
  right: 50px;
  position: absolute;
}
.body .img.bottomLeft {
  width: 30px;
  height: unset;
  padding: 10px;
  border-radius: 99px;
  bottom: 50px;
  left: 50px;
  position: absolute;
}
.body .img.bottomRight {
  width: 400px;
  height: unset;
  bottom: 0;
  right: 0;
  position: absolute;
}
.body .img.pocket {
  width: 200px;
  height: unset;
  filter: drop-shadow(0px 30px 60px rgba(55, 84, 170, 0.2));
}
.body .img.pocket.large {
  width: 300px;
}
.body .pockets {
  position: absolute;
  pointer-events: none;
}
.body .buttons {
  bottom: 80px;
  position: absolute;
}
.body .buttons > .itemH {
  width: 200px;
}
.body .buttons > .itemH.large {
  width: 300px;
}
.body .buttons .button {
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(55, 84, 170, 0.2);
}
.body .buttons .button:hover {
  box-shadow: 0px 10px 20px rgba(55, 84, 170, 0.2), inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}
.body .buttons :not(.name) {
  color: black !important;
}
.body .buttons .name {
  margin: 0 5px;
  font-style: italic;
  color: #D03B76 !important;
}
.body .pocketH {
  left: -300px;
  position: absolute;
}
.body .animation {
  animation-name: pocket;
  animation-duration: 0.5s;
  animation-iteration-count: 3;
}
.body .result {
  margin-top: 50px;
  position: absolute;
  pointer-events: none;
  transition: visibility 0s, opacity 0.5s linear;
}
.body .result:nth-child(1) {
  z-index: 3;
}
.body .result:nth-child(2) {
  z-index: 2;
}
.body .result:nth-child(3) {
  z-index: 1;
}
.body .result .img {
  width: 1000px;
  height: unset;
}
.body .result .card {
  width: 600px;
  height: 300px;
  padding: 5px;
  margin-top: 100px;
  border: 5px solid #F2AE15;
  border-radius: 15px;
  background-color: white;
  background: #FAF3EE;
  animation-name: result;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.body .result .card .fXXL {
  color: #F2AE15 !important;
  margin: 5px 10px;
}
.body .result .card .img {
  width: 150px;
  height: unset;
}
@keyframes pocket {
  0% {
    left: -300px;
  }
  100% {
    left: calc(100vw + 300px);
  }
}
@keyframes result {
  0% {
    margin-top: 100px;
    margin-bottom: 0;
  }
  100% {
    margin-top: 0;
    margin-bottom: 450px;
  }
}
.body .primary {
  color: #F9BB49 !important;
}
.body .secondary {
  color: #D03B76 !important;
}
.body .gray {
  color: #828282 !important;
}
.body .minor {
  color: #BDBDBD !important;
}
.body .disabled {
  color: #BDBDBD !important;
  filter: grayscale(100%);
  pointer-events: none;
}
.body .error {
  color: #EB5757 !important;
}
.body .success {
  color: #27AE60 !important;
}
.body .background {
  background-color: #F2F1F6 !important;
}
.body .fXXL {
  font-size: 36px;
}
.body .fXL {
  font-size: 24px;
}
.body .fL {
  font-size: 18px;
}
.body .fM {
  font-size: 14px;
}
.body .fS {
  font-size: 12px;
}
.body .fXS {
  font-size: 10px;
}
.body .bold {
  font-weight: bold;
}
.body .under {
  text-decoration: underline !important;
}
.body span.white {
  color: white;
}
.body span.center {
  text-align: center;
}
.body span.margin {
  margin: 5px;
}
.body span.width {
  width: 100%;
}
.body .single {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.body .double {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.body span {
  color: #333333;
}
.body ol,
.body ul {
  color: #333333;
}
.body a {
  text-decoration: none !important;
}
.body a:hover {
  cursor: pointer;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}
.body input {
  border: 0;
  padding: 0;
  color: #333333;
  background-color: transparent;
}
.body input:focus {
  box-shadow: none !important;
  outline: none;
}
.body textarea {
  border: 0;
}
.body textarea:focus {
  box-shadow: none !important;
  outline: none;
}
.body select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 0;
}
.body select:hover {
  cursor: pointer;
}
.body iframe {
  border: 0;
}
.body *,
.body :after,
.body :before {
  box-sizing: unset;
  -webkit-box-sizing: unset;
}
.body .itemH {
  width: fit-content;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.body .itemV {
  width: fit-content;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.body .itemH.start,
.body .itemV.start {
  align-items: flex-start;
}
.body .itemH.center,
.body .itemV.center {
  align-items: center;
}
.body .itemH.end,
.body .itemV.end {
  align-items: flex-end;
}
.body .itemH.middle,
.body .itemV.middle {
  justify-content: center;
}
.body .itemH.between,
.body .itemV.between {
  justify-content: space-between;
}
.body .itemH.around,
.body .itemV.around {
  justify-content: space-around;
}
.body .itemH.radius,
.body .itemV.radius {
  border-radius: 0;
}
.body .itemH.full,
.body .itemV.full {
  width: 100vw;
}
.body .itemH.width,
.body .itemV.width {
  width: 100%;
}
.body .itemH.height,
.body .itemV.height {
  height: 100%;
}
.body .itemH.padding,
.body .itemV.padding {
  padding: 5px;
}
.body .itemH.padding.width,
.body .itemV.padding.width {
  width: calc(100% - 10px);
}
.body .itemH.margin,
.body .itemV.margin {
  margin: 5px;
}
.body .itemH.margin.width,
.body .itemV.margin.width {
  width: calc(100% - 10px);
}
.body .itemH.padding.margin.width,
.body .itemV.padding.margin.width {
  width: calc(100% - 20px);
}
.body .hide {
  display: none !important;
}
.body .img {
  width: 100px;
  height: 100px;
  margin: 5px;
}
.body .img img {
  width: 100%;
  height: 100%;
}
.body .icon {
  min-width: 20px;
  min-height: 20px;
  margin: 5px;
  border-radius: 99px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F9BB49;
}
.body .icon.iconButton {
  min-width: 30px;
  min-height: 30px;
}
.body .icon.iconButton:hover {
  background-color: #F2F1F6;
}
.body .icon.iconButton.fill {
  color: white;
  background-color: #F9BB49;
}
.body .icon.iconButton .new {
  top: 2px;
  right: 2px;
}
.body .icon.black {
  color: #333333;
}
.body .icon.white {
  color: white;
}
.body .icon.fit {
  min-width: fit-content;
  min-height: fit-content;
  margin: 0;
}
.body .icon .new {
  width: 10px;
  height: 10px;
  border: 1px solid white;
  border-radius: 99px;
  top: -3px;
  right: -3px;
  position: absolute;
  background-color: #EB5757;
}
.body .icon .material-icons.md-18 {
  font-size: 18px;
}
.body .icon .material-icons.md-24 {
  font-size: 24px;
}
.body .icon .material-icons.md-36 {
  font-size: 36px;
}
.body .icon .material-icons.md-48 {
  font-size: 48px;
}
.body .button {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F9BB49;
}
.body .button.fit {
  width: fit-content;
  height: fit-content;
  padding: 10px 20px;
}
.body .button.delete {
  background-color: #EB5757 !important;
}
.body .button.delete i,
.body .button.delete span {
  color: white !important;
}
.body .button.secondary {
  background-color: #D03B76;
}
.body .button.secondary:hover {
  background-color: #E0E0E0;
}
.body .button.secondary i,
.body .button.secondary span {
  color: #F9BB49;
}
.body .button.white {
  background-color: white;
}
.body .button.white:hover {
  background-color: #E0E0E0;
}
.body .button.white i,
.body .button.white span {
  color: #4F4F4F;
}
.body .button .icon,
.body .button span {
  color: white;
}
.body .spinner {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.body .spinner > div {
  min-width: 80px;
  min-height: 80px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(4px);
}
.body .spinner > div > div {
  min-width: 40px;
  min-height: 40px;
  border: 3px solid #F9BB49;
  border-top: 3px solid transparent;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.body .popup {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(4px);
}
.body .popup.notice .popBody {
  width: 300px;
  height: fit-content;
}
.body .popup .close {
  top: 20px;
  right: 20px;
  height: 20px;
  width: 20px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #BDBDBD;
}
.body .popup .close:hover,
.body .popup .close:focus {
  color: #333333;
}
.body .popup .popBody {
  width: 100%;
  height: calc(100% - 60px);
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #F2F1F6;
}
.body .popup .popBody .popHeader {
  margin: 5px;
  display: flex;
  flex-direction: column;
}
.body .popup .popBody .popMain {
  margin: 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.body .popup .popBody .popMain.full {
  height: 100%;
  margin: 15px 5px;
  border-radius: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: white;
  overflow-y: auto;
  /* should match background, can't be transparent */
}
.body .popup .popBody .popMain.full::-webkit-scrollbar {
  -webkit-appearance: none;
}
.body .popup .popBody .popMain.full::-webkit-scrollbar:vertical {
  width: 10px;
}
.body .popup .popBody .popMain.full::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #E0E0E0;
  border: 2.5px solid white;
}
.body .popup .popBody .popMain ol {
  padding: 0 0 20px 30px;
}
.body .popup .popBody .popMain ol.chin {
  list-style-type: none;
}
.body .popup .popBody .popMain ol.chin > li {
  margin-left: -20px;
}
.body .popup .popBody .popMain ol.romanU {
  list-style-type: upper-roman;
}
.body .popup .popBody .popMain ol ol {
  padding: 0 0 10px 20px;
}
.body .popup .popBody .popMain ol ul {
  padding: 0 0 10px 20px;
  list-style-type: disc;
}
.body .popup .popBody .popMain ol li {
  margin: 5px 0;
}
.body .popup .popBody .popMain ol li.none {
  list-style-type: none;
}
.body .popup .popBody .popMain .message {
  width: calc(100% - 10px);
  margin: 5px;
  text-align: center;
}
.body .popup .popBody .popFooter {
  display: flex;
}
